{% extends 'base.html.twig' %}

{% block title %}Editer un évènement{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center mt-2">
        <h1>Editer</h1>
    </div>
    {{ include('event/_form.html.twig', {'button_label': 'Modifier'}) }}

    <div class="d-flex mb-1">
        <a class="btn mr-3" href="{{ path('event_index') }}">Liste des évènements</a>
        {{ include('event/_delete_form.html.twig') }}
    </div>
{% endblock %}
