@import "~bootstrap/scss/bootstrap";
@import "vars";
@import "home";
@import "nav";
@import "login";
@import "admin";
@import "event";
.btn {
  background-color: $gold;
  color: $white;
  font-family: $helvetica;
  font-weight: bold;
}
