{% extends 'base.html.twig' %}

{% block title %}Nouveau numéro{% endblock %}

{% block body %}
    <h1>Créer un numéro</h1>

    {{ include('act/_form.html.twig') }}

    <div class="d-flex mt-4">
        <a class="btn" href="{{ path('act_index') }}">Liste des numéros</a>
    </div>
{% endblock %}
